html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	transition: background ease 0.25s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #FD739C;
	color: white;
}
nav {
	background-color: #FD739C;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, .25);
	padding: 20px 20px 20px 0px;
}
nav a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 10px;
}
nav div {
	width: 80%;
	margin: auto;
}
.wrapper {
	width: 80%;
	margin: auto;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 64px;
	line-height: 78px;
	font-weight: bold;
	padding-top: 90px;
    padding-bottom: 20px;
}
header p {
	padding-bottom: 80px;
}
#format div {
	padding-top: 80px;
	display: inline-block;
	width: 30%;
	padding-right: 2%;
	vertical-align: top;
}
h2 {
	font-size: 36px;
	line-height: 46px;
	padding-bottom: 20px;
	font-weight: bold;
}
h3 {
	font-size: 20px;
	line-height: 32px;
	font-weight: bold;	
}
p {
	font-size: 22px;
	line-height: 34px;
	padding-bottom: 15px;
}
section {
	padding-top: 50px;
	width: 80%;
	margin: auto;
}