html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	transition: background ease 0.25s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #0054FF;
	height: 100%;
}
html {
	height: 100%;
}
.top-left {
	position: absolute;
	top: 0;
	left: 0
}
.top-right {
	position: absolute;
	top: 0;
	right: 0
}
.down-right {
	position: absolute;
	bottom: 0;
	right: 0
}
.down-left {
	position: absolute;
	bottom: 0;
	left: 0
}
.center {
	position: absolute;
	vertical-align: middle;
	left: 50%;
}
.corner {
	font-size: 20px;
	padding: 20px;
	font-family: 'Anton', sans-serif;
	color: white;
}
.emoji {
	background-image: url(emoji.png);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -65px;
	margin-left: -65px;
	height: 130px;
	width: 130px;
}