html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a {
	text-decoration: none;
	}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a {
	text-decoration: none;
	}
.wrapper {
	width: 960px;
	margin: auto;
	font-size: 0;
	}
.header-block {
	height: 72px;
	-webkit-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
	        box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
	background-color: white;
	}
.logo {
	background: url(img/logo.svg);
	width: 100px;
	height: 40px;
	background-size: 100px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 25px;
	}
.time-and-location {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	}
.time-and-location-mobile__time-button, .time-mobile, .address-mobile {
	display: none;
}
.time-and-location-mobile__address {
	display: none;
}
.time-and-location__time-button {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0px 15px;
	height: 40px;
	border-radius: 2px;
	background: white;
	border: 1px solid #E0E0E0;
	cursor: pointer;
	outline: none;
	}
.time-and-location__txt {
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	color: #626262;
	padding: 0px 10px 0px 10px;
	}
.time-and-location__address {
	padding: 0px 12px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	}
.address__icon {
	background: url(img/location.svg);
	width: 12px;
	height: 16px;
	background-size: 12px 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	}
.address__location {
	border: none;
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	color: #1D1D1D;
	outline: none;
	width: 250px;
	}
.login-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	}
.login-btns__log-in {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0px 15px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	cursor: pointer;
	outline: none;
	background: white;
	margin-right: 10px;
	}
.login-btns__log-in:hover {
	opacity: 0.7;
}
.login-btns__sign-in:hover {
	opacity: 0.7;
}
.time-and-location__time-button:hover {
	opacity: 0.7;
}
.login-btns__checkout:hover {
	opacity: 0.7;
}
.login-btns__sign-in {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0px 15px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid #262626;
	cursor: pointer;
	outline: none;
	background-color: #262626;
	border: none;
	color: white;
	}
.login-btns__checkout{
	background: url(img/basket.svg);
	width: 19px;
	height: 26px;
	background-size: 19px 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	}
.header-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 72px;
	margin: auto;
	}
.search {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50px;
	margin-top: 50px;
	}
::-webkit-input-placeholder {
	color: #a6a6a6;
	}
.search__input {
	outline: none;
	border: none;
	line-height: 24px;
	font-size: 16px;
	padding-bottom: 15px;
	width: 100%;
	}
.search__icon {
	background: url(img/search.svg);
	width: 22px;
	height: 22px;
	margin-right: 10px;
	}
.head-txt {
	font-family: Roboto;
	line-height: 34px;
	font-size: 22px;
	color: #1D1D1D;
	margin-bottom: 16px;
	}
.restaurant__pic {
	width: 360px;
	-webkit-transition: -webkit-transform 0.25s ease;
	transition: -webkit-transform 0.25s ease;
	-o-transition: transform 0.25s ease;
	transition: transform 0.25s ease;
	transition: transform 0.25s ease, -webkit-transform 0.25s ease;
	}
.restaurant__name {
	padding-top: 10px;
	font-family: Roboto;
	font-weight: 400;
	line-height: 25px;
	font-size: 16px;
	color: #1D1D1D;
	}
.restaurant__price {
	font-family: Roboto;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	color: #626262;
	}
.restaurant__delivery-time {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 13px;
	color: #1D1D1D;
	}
.restaurant__pic-wrap {
	width: 100%;
	height: 256px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
	overflow: hidden;
	}
.restaurant-list__item {
	display: inline-block;
	width: calc((100% - 18px * 2) / 3 );
	margin-bottom: 30px;
	margin-right: 18px;
	}
.restaurant-list__item:last-child {
	margin-bottom: 0px;
}
.restaurant-list__item:hover .restaurant__pic {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition: -webkit-transform 0.25s ease;
	transition: -webkit-transform 0.25s ease;
	-o-transition: transform 0.25s ease;
	transition: transform 0.25s ease;
	transition: transform 0.25s ease, -webkit-transform 0.25s ease;
	}
.restaurant-list__item:hover .restaurant__name {
	text-decoration: underline;
	}
.restaurant-list__item:nth-child(3n) {
	margin-right: -18px;
}
footer {
	width: 100%;
	background: #262626;
	padding-top: 50px;
	margin-top: 50px;
	color: white;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	text-decoration: none;
	}
.footer-logo {
	background: url(img/white-logo.svg);
	width: 192px;
	height: 20px;
	display: block;
	background-size: 192px 20px;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	}
.social-and-language {
	display: inline-block;
	width: calc((100% - 18px * 2)/3);
	margin-right: 18px;
	vertical-align: top;
	margin-top: 5px;
}
.social-and-language__language {
	border-radius: 2px;
	background: #3B3B3B;
	width: 220px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	cursor: pointer;
	padding: 14px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 13px;
	}
.social-and-language__language:after {
	background: url(img/arrow-2.svg);
    width: 10px;
    display: inline-block;
    content: "";
    margin-top: 4px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
	}
.icons {
	display: inline-block;
	}
.icons__facebook {
	background: url(img/facebook.svg);
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	display: inline-block;
	margin-right: 10px
	}
.icons__twitter {
	background: url(img/twitter.svg);
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	display: inline-block;
	}
.footer-links {
	display: inline-block;
	width: 66%;
	-webkit-columns: 2;
	columns: 2;
	font-weight: 300;
	overflow: hidden;
	-webkit-column-gap: 18px;
	        column-gap: 18px;
}
.footer-links__item {
	font-size: 14px;
	line-height: 35px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.footer-links__item a {
	color: white;
	opacity: 0.5;
}
.footer-links__item a:hover {
	opacity: 1;
}
.download-app {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-top: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
}
.download-app__apple {
	background-image: url(img/icon.svg);
	height: 46px;
	width: 160px;
	background-repeat: no-repeat;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-position: 0px;
}
.download-app__android {
	background-image: url(img/icon.svg);
	height: 46px;
	width: 160px;
	background-repeat: no-repeat;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 10px;
}
.other-link {
	font-size: 0px;
	width: 100%;
	padding: 30px 0px;
	font-weight: 300;
}
.other-link__item {
	display: inline-block;
	width: calc((100% - 18px * 2) / 3 );
	font-size: 14px;
	margin-right: 18px;
}
.other-link__item:last-child {
	margin-right: -18px;	
}
.other-link__item a {
	opacity: 0.5;
	color: white;
}
.other-link__item a:hover {
	opacity: 1;
}
.arrow-top {
	width: 80px;
	height: 80px;
	background-color: #59BD5A;
	background-image: url(img/arrow.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	visibility: hidden;
	opacity: 0;
	bottom: 15px;
	right: 15px;
	z-index: 100;
	cursor: pointer;
	border-radius: 4px;
	position: fixed;
	transition: opacity 0.5s, visibility 0.5s;
}
.visible {
	visibility: visible;
	opacity: 1;
}
.restaurant-promo {
	background: url(img/restaurant-promo.png);
	background-position: 50% 50%;
	background-size: cover;
	height: 350px;
	position: relative;
}
.restaurant-card__price {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 35px;
	color: #626262;
	display: inline-block;
	margin-right: 10px;
}
.restaurant-card {
	background: #FFFFFF;
	box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
	border-radius: 2px;
	width: 350px;
	padding: 30px 30px;
	position: absolute;
    top: 25%;
}
.restaurant-card__name {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 50px;
	color: #1D1D1D;
	font-weight: 300;
	display: block;
	padding-bottom: 30px;
}
.restaurant-card__delivery-time{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 31px;
	color: white;
	display: inline-block;
	background: #1D1D1D;
	padding: 0px 15px;
	border-radius: 20px;
}
.restaurant-food {
	padding-top: 50px;
}
.restaurant-navigation__item {
	color: #626262;
	font-size: 16px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	margin-right: 40px;
}
.restaurant-navigation {
	height: 70px;
	border-bottom: 1px solid rgba(117, 117, 117, 0.2);
	display: flex;
	align-items: center;
}
.restaurant-food__header {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 34px;
	font-size: 22px;
	color: #1D1D1D;
	margin-bottom: 30px;
}
.restaurant-food__item {
	border: 1px solid rgba(117, 117, 117, 0.2);
	box-sizing: border-box;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 2px;
	display: inline-block;
	width: calc(50% - 8px);
	font-size: 0px;
	position: relative;
}
.restaurant-food__item:hover {
	background: #fafafa;
}
.restaurant-food__item:last-child {
	margin-bottom: 0px;
}
.restaurant-food__item:nth-child(2n) {
	margin-right: -16px;
}
.restaurant-food__pic {
	float: right;
}
.restaurant-food__name {
	padding: 16px 0px 0px 16px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-size: 16px;
	color: #1D1D1D;
}
.restaurant-food__item:hover .restaurant-food__name {
	text-decoration: underline;
}
.restaurant-food__item:hover {
	cursor: pointer;
}
.restaurant-food__recipe {
	padding: 0px 0px 0px 16px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 21px;
	font-size: 13px;
	color: #626262;
}
.restaurant-food__price {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-size: 15px;
    color: #1D1D1D;
    position: absolute;
    bottom: 0;
    padding-left: 16px;
    padding-bottom: 16px;
    font-weight: 500;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
.wrapper {
	width: 750px;
}
.restaurant-food__item {
	width: 100%;
}
.address__location {
	width: 150px;
}
.restaurant-list__item {
	width: calc((100% - 18px) / 2 );
	margin-right: 18px;
}
.restaurant-list__item:nth-child(3n) {
	margin-right: 18px;
}
.restaurant-list__item:nth-child(2n) {
	margin-right: -18px;
}
header {
	width: 100%;
}
.footer-links {
	width: 66.67%;
	-webkit-column-gap: 0px;
	        column-gap: 0px;
}
.restaurant__pic {
	width: 380px;
}
.social-and-language__language {
	width: 180px;
}
.social-and-language {
	display: inline-block;
    width: 33.33%;
    margin-right: 0px;
}
.other-link__item {
	width: 33.33%;
	margin-right: 0px;
}
.other-link__item:last-child {
	margin-right: 0px;	
}
}
@media screen and (max-width: 768px) and (min-width: 320px) {
.wrapper {
	width: 310px;
}
.time-and-location {
	display: none;
}
.login-btns__checkout {
	display: none;
}
.login-btns__log-in {
	font-size: 13px;
	padding: 0px 10px;
	height: 40px;
}
.login-btns__sign-in {
	font-size: 13px;
	padding: 0px 10px;
	height: 40px;
}
.restaurant-list__item {
	width: 100%;
	display: block;
}
.footer-links {
	display: inline-block;
	-webkit-columns: 1;
	        columns: 1;
	-webkit-column-gap: 0px;
	        column-gap: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.download-app__apple {
	display: block;
	margin-bottom: 10px;

}
.download-app__android {
	margin-left: 0px;
	display: block;
}
.download-app {
	display: block;
	margin: auto;
}
.other-link__item {
	display: block;
    width: 100%;
    margin-right: 18px;
}
.other-link__item {
	line-height: 35px;
}
.time-and-location-mobile__time-button {
	display: block;
}
.time-mobile, .address-mobile {
	display: inline-block;
}
.time-and-location-mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
}
.time-mobile__time-button{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	height: 40px;
	padding: 0px 10px;
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	cursor: pointer;
	outline: none;
	margin-right: 10px;
	margin-top: 5px;
	background: white;
}
.address-mobile {
	width: 100%;
}
.address-input-mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding: 0px 10px;
	height: 40px;
	margin-top: 5px;
}
.address-input-mobile__icon {
	background: url(img/location.svg);
	width: 12px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top: 1px;
}
.address-input-mobile__location {
	border: none;
	outline: none;
	font-size: 13px;
}
.time-mobile__label {
	font-size: 11px;
	color: #626262;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	display: block;
}
.address-mobile__label {
	font-size: 11px;
	color: #626262;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	display: block;
}
.search {
	margin-bottom: 30px;
}
.social-and-language {
	margin-top: 0px;
}
.arrow-top {
	width: 60px;
	height: 60px;
}
.restaurant-navigation {
	display: none;
}
.restaurant-food {
	padding-top: 70px;
}
.restaurant-food__name {
	font-size: 14px;
}
.restaurant-food__pic {
	width: 100px;
}
.restaurant-food__item {
	border: 0px;
	border-top: 1px solid rgba(117, 117, 117, 0.2);
	margin-bottom: 0px;
	width: 100%;
}
.restaurant-food__item:last-child {
	border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.restaurant-food__name {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 50%;
	margin-top: 10px;
}
.restaurant-food__recipe {
	padding-left: 0px;	
}
.restaurant-food__price {
	padding-left: 0px;
}
.restaurant-food__item:hover {
	background: none;
}
.restaurant-food__price {
	position: relative;
	margin-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 20px
}
.restaurant-food__header {
	text-align: center;
	margin-bottom: 20px;
}
.restaurant-promo {
	height: 200px;
}
.restaurant-card__name {
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.restaurant-card {
	background: #FFFFFF;
	box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
	border-radius: 2px;
	margin: auto;
	position: relative;
	padding: 0px;
	text-align: center;
	width: 300px;
    top: 85px;
}
.restaurant-card__price {
	display: block;
	text-align: center;
}
.restaurant-card__delivery-time {
	margin-bottom: 20px;
}
}